
* {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}
/* a:visited{
    color: green;
} */

header, footer {
    background-color: lightskyblue;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

header {
    border-bottom: 5px double red;
    border-radius: 0px 0px 50px 50px;
    color: red;
    font-style: italic;
}

footer {
    border-top: 5px double red;
    border-radius: 10px 10px 0px 0px;
}